.container{
    text-align: center;
    
}
#dieci,#venti,#cinquanta,#cento, #logout, #secondiCall,#numeroCall,#inoltraCall,#infoCall,#azzeraCall{
    display: none;
}

img {
    text-align: center;
}
